# Twitter API credentials, you can get them here https://apps.twitter.com/
TWITTER_C_KEY = ""
TWITTER_C_SECRET = ""
TWITTER_A_KEY = ""
TWITTER_A_SECRET = ""

# Facebook API credentials
FACEBOOK_APP_ID = ""
FACEBOOK_APP_SECRET = ""
